@model AutoPartsHub.Models.TblItem

@{
    ViewData["Title"] = "ItemDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!--== Start Page Header Area ==-->
    <div class="page-header-wrap bg-img" data-bg="assets/img/bg/page-header-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="page-header-content">
                        <div class="page-header-content-inner">
                            <h1>Product Details</h1>

                            <ul class="breadcrumb">
                                <li><a href="/">Home</a></li>
                                <li><a href="shop">Shop</a></li>
                                <li class="current"><a href="itemDetail">Product Details</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Header Area ==-->

    <!--== Start Page Content Wrapper ==-->
    <div class="page-content-wrapper sp-y">
        <div class="product-details-page-content">
            <div class="container container-wide">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                         
                     
                        <div class="col-md-5">
                            <div class="product-thumb-area">
                                <div class="product-details-thumbnail">
                                    <div class="product-thumbnail-slider" id="thumb-gallery">
                                        <figure class="pro-thumb-item" data-mfp-src="@Model.TblItemImages.First().BanerImage">
                                            <img id="mainImage" src="@Model.TblItemImages.First().NormalImage" />
                                        </figure>
                                    </div>

                                    <a href="#thumb-gallery" class="btn-large-view btn-gallery-popup">View Larger <i class="fa fa-search-plus"></i></a>
                                </div>

                                <div class="product-details-thumbnail-nav">
                                    @foreach (var item in Model.TblItemImages)
                                    {
                                        <figure class="pro-thumb-item">
                                            <img class="thumbnail-image" data-normal-image="@item.NormalImage" data-banner-image="@item.BanerImage" src="@item.ThumbnailImage" />
                                        </figure>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- End Product Thumbnail Area -->
                   

                            <!-- Start Product Info Area -->
                            <div class="col-md-7">
                                <div class="product-details-info-content-wrap">
                                    <div class="prod-details-info-content">
                                        <h2>@Model.ItemName</h2>
                                        <h5 class="price"><strong>Price:</strong> <span class="price-amount">$@Model.ItemPrice</span>
                                        </h5>
                                        <p>@Model.LongDescription</p>

                                        <div class="product-config">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th class="config-label">Color</th>
                                                        <td class="config-option">
                                                            <div class="config-color">
                                                                <a href="#">Black</a>
                                                                <a href="#">Blue</a>
                                                                <a href="#">Green</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="config-label">Size</th>
                                                        <td class="config-option">
                                                            <div class="config-color">
                                                                <a href="#">Large</a>
                                                                <a href="#">Medium</a>
                                                                <a href="#">Small</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="product-action">
                                            <div class="action-top d-sm-flex">
                                                <div class="pro-qty mr-3 mb-4 mb-sm-0">
                                                    <label for="quantity" class="sr-only">Quantity</label>
                                                    <input type="text" id="quantity" title="Quantity" value="1" />
                                                </div>
                                                <button class="btn btn-bordered addToCart">Add to Cart</button>
                                            </div>
                                        </div>

                                        <div class="product-meta">
                                            <span class="sku_wrapper">SKU: <span class="sku">@Model.Sku</span></span>

                                            <span class="posted_in">Categories:
                                            <a href="#">Best Seller,</a>
                                            <a href="#">Parts,</a>
                                            <a href="#">Shop</a>
                                        </span>

                                            <span class="tagged_as">Tags:
                                            <a href="#">Seller,</a>
                                            <a href="#">Modern,</a>
                                            <a href="#">Parts</a>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product Info Area -->
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="product-description-review">
                                    <!-- Product Description Tab Menu -->
                                    <ul class="nav nav-tabs desc-review-tab-menu" id="desc-review-tab" role="tablist">
                                        <li>
                                            <button class="active" id="desc-tab" type="button" data-bs-toggle="tab" data-bs-target="#descriptionContent" role="tab" aria-controls="descriptionContent" aria-selected="true">Description</button>
                                        </li>
                                        <li>
                                            <button id="profile-tab" type="button" data-bs-toggle="tab" data-bs-target="#reviewContent" role="tab" aria-controls="reviewContent" aria-selected="false">Review (3)</button>
                                        </li>
                                    </ul>

                                    <!-- Product Description Tab Content -->
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="descriptionContent" role="tabpanel" aria-labelledby="desc-tab">
                                            <div class="description-content">
                                                <p>Created from either wood or recycled materials, it can be moulded
                                                    into just about any shape and hardens to provide a hard shell. Additives
                                                    can
                                                    make it water resistant and it can be produced in a rainbow of colours.
                                                    Other materials being looked at include paper clay, paper glue, paper
                                                    cotton
                                                    and even washable paper.</p>

                                                <p>Additives can make it water resistant and it can be produced in a rainbow
                                                    of
                                                    colours. Other materials being looked at include paper clay Lorem ipsum
                                                    dolor
                                                    sit amet, consectetur adipisicing elit. Eaque, facere!</p>
                                                <p>Pursue pleasure rationally encounter consequences that are extremely
                                                    painful. Nor again is there anyone who loves or pursues or desires to
                                                    obtain pain of itself, because it is pain, but because occasionally
                                                    circes occur in and pain can procure him some great ple cum soluta nobis
                                                    est eligendi optio cumque nihil impedit quo minus id qu maxime placeat
                                                    facere possimus, omnis voluptas assumenda est, omnis dolor
                                                    repellendus</p>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="reviewContent" role="tabpanel" aria-labelledby="profile-tab">
                                            <div class="product-rating-wrap">
                                                <div class="average-rating">
                                                    <h4>4.8 <span>(Overall)</span></h4>
                                                    <span>Based on 2 Comments</span>
                                                </div>

                                                <div class="display-ratings">
                                                    <div class="rating-item">
                                                        <div class="rating-author-pic">
                                                            <img src="assets/img/extra/author-1.jpg" alt="author" />
                                                        </div>

                                                        <div class="rating-author-txt">
                                                            <div class="rating-star">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>

                                                            <div class="rating-meta">
                                                                <h3>Cristopher Lee</h3>
                                                                <span class="time">- 07, Jun</span>
                                                            </div>

                                                            <p>Wonderful collection of WooThemes classics! A must buy for
                                                                all
                                                                Woo fans.</p>
                                                        </div>
                                                    </div>

                                                    <div class="rating-item">
                                                        <div class="rating-author-pic">
                                                            <img src="assets/img/extra/author-2.jpg" alt="author" />
                                                        </div>

                                                        <div class="rating-author-txt">
                                                            <div class="rating-star">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-half-empty"></i>
                                                            </div>

                                                            <div class="rating-meta">
                                                                <h3>Raju Ahammad</h3>
                                                                <span class="time">- 02, Jun</span>
                                                            </div>

                                                            <p>Voluptatem quia voluptas sit aspernat uptatem sequi Neque
                                                                porro.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="rating-form-wrapper">
                                                    <h3>Add your Reviews</h3>
                                                    <form action="#" method="post">
                                                        <div class="rating-form row">
                                                            <div class="col-12">
                                                                <h5>Your Rating:</h5>
                                                                <div class="rating-star fix mb-20">
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                    <i class="fa fa-star"></i>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-input-item mt-30 mt-md-0">
                                                                    <label for="name" class="sr-only">Name</label>
                                                                    <input type="text" id="name" placeholder="Name" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-input-item mt-30 mt-md-0">
                                                                    <label for="email" class="sr-only">Email</label>
                                                                    <input type="email" id="email" placeholder="Email" />
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-input-item mt-30 mb-40">
                                                                    <label for="your-review" class="sr-only">review</label>
                                                                    <textarea rows="4" name="review" id="your-review" placeholder="Write a review"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mt-22">
                                                                <button class="btn btn-brand">Submit</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Page Content Wrapper ==-->

@section Scripts{
    <script>

        $(document).ready(function () {
            // Handle thumbnail clicks
            $('.thumbnail-image').on('click', function () {
                var normalImage = $(this).data('normal-image');
                var bannerImage = $(this).data('banner-image');

                // Update the main image
                $('#mainImage').attr('src', normalImage);

                // Update the magnific popup link
                $('#thumb-gallery .pro-thumb-item').attr('data-mfp-src', bannerImage);
            });

            // Initialize Magnific Popup for the main image
            $('.product-thumbnail-slider').magnificPopup({
                delegate: 'figure', // child items selector, by clicking on it popup will open
                type: 'image',
                gallery: {
                    enabled: true
                }
            });

            // Handle the "View Larger" button click
            $('.btn-gallery-popup').on('click', function (e) {
                e.preventDefault();
                $('#thumb-gallery').magnificPopup('open');
            });

            // Handle Add to Cart button click
            $('.addToCart').on('click', function (e) {
                e.preventDefault();
                var itemId = @Model.ItemId; // Get the item ID from the model
                var quantity = $('#quantity').val(); // Get the quantity from the input
                $.ajax({
                    type: 'POST',
                    url: '/addToCart',
                    data: { itemId: itemId, quantity: quantity },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                            LoadCartData();// Show success message
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function () {
                        alert('Error occurred while adding item to cart');
                    }
                });
            });
        });

    </script>
}