@model IEnumerable<AutoPartsHub.Models.TblColor>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header bg-theme ">
                <h4 class="card-title text-white">Color</h4>
                <button type="button" class="btn bg-white" id="CreateColor">

                    <a asp-action="Create" class="text-theme" style="color:lemonchiffon" id="CreateColor">Create New</a>
                </button>

            </div>

            <div class="card-body">
                    <table class="table table-responsive-md">
                        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColorName)
            </th>
        
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColorName)
            </td>
           
            <td style="display: flex;margin-left: -30 !important">
                <a asp-action="Edit" class="btn btn-sm m-2 btn-primary" asp-route-id="@item.ColorId"><i class="fa fa-edit "></i></a>

                                        <form asp-action="Delete" method="post" class="deleteForm">
                                            <input type="hidden" name="id" value="@item.ColorId" asp-for="@item.ColorId" />
                                            <button type="submit" class="btn btn-danger btn-sm m-2"><i class="fa fa-trash"></i></button>
                                        </form>
            </td>
        </tr>
}
    </tbody>
</table>
                </div>
            </div>
            </div>
            </div>
            </div>

